.margenes-form {
    border: 1px solid rgb(150, 150, 150);
    border-radius: 6px;
    margin: 70px 25px 0 25px;
    padding: 15px;
}

.danger-font {
    color: red;
}

.succesful-font {
    color: green;
}

.profile-img{
    margin-top: -5px;
    margin-right: 5px;
    float: left;
    background: url(example.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
    width: 30px;
    height: 30px;
}