.margenes-form {
    border: 1px solid rgb(150, 150, 150);
    border-radius: 6px;
    margin: 70px 25px 0 25px;
    padding: 15px;
}

.danger-font {
    color: red;
}

.p-r {
    padding-left: 7%;
}

.p-l {
    padding-right: 7%;
}

.succesful-font {
    color: green;
}

.bg-custom-1 {
    background-color: #85144b;
}

.bg-custom-2 {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: white;
}

.border-hover:hover {
    border: 1px solid black;
}

.padding-form {
    padding-top: 2rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

.padding-content {
    padding-top: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.padding-content--inicio {
    padding-top: 1.5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 3rem;
}

.padding-content--form {
    padding-top: 1.5rem;
    padding-left: 17rem;
    padding-right: 17rem;
    padding-bottom: 3rem;
}

.login-box {
    width: 450px;
    height: 450px;
    padding-top: 3rem;
}

.padding-content--acordeon {
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 3rem;
}